<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Game</title>
</head>
<body>

  <h1>Movie Game</h1>
  <p>Write a word to search in title of the films</p>

  <form action="/posters" method="POST">
    <label for="word">Word</label>
    <input type="text" name="word" autofocus>
    <input type="submit" value="Game!">
  </form>

</body>
</html>
