<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Game. Not enough posters to play</title>
</head>
<body>

  <h3>There's not enoung posters to play</h3>
  <a href="/">Introduce new word to play</a>
  
</body>
</html>
