<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Online Calculator</title>
</head>
<body>

  <form action="/result" method="POST">
    <input type="text" name="operator1">
    <input type="text" name="operator2">

    <input type="submit" value="Addition" name="operation">
    <input type="submit" value="Substract" name="operation">
    <input type="submit" value="Multiply" name="operation">
    <input type="submit" value="Division" name="operation">
  </form>

  <a href="/counting">Counting</a>

</body>
</html>
